header{
    background-color: darkslategrey;
    padding:20px;
}
nav{
    background-color: darkgray;
    color:white;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li{
    display: inline-block;
    margin-right: 18px;
}